@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}
.fondo{
    background: rgb(34,195,100);
    background: linear-gradient(0deg, rgba(34,195,100,1) 0%, rgba(45,253,207,1) 100%);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.colorcards{
    background-color: aquamarine;
}
.sizecard{
    width: 286px;
    height: 200px;
    justify-content: center;
}
.redessociales{
    min-width: 200px;
    display: flex;
    justify-content: space-around;
}
.redessociales a{
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 50%;
    color: #f1f1f1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    background: #0d9762;
    transition: all .4s ease-in-out;
}
.redessociales a:hover {
    transform: scale(1.2);
}
